
body {
    background-image:url(../img/k.jpg) ;
}
.header-wrapper{
   
   background-color: red;
   display: flex;
   height: 50px;
   align-items: center;
   padding: 0px 30px;
   justify-content: space-between;
}
.child{
    display: flex;
    color: white;
    background-color: green;
    position: relative;
    
}
.child li{
    background-color:greenyellow ;
    margin:0px 20px;
    position: relative;
    
    
}
.child li a{
    color: white;
}
.pc{
    color: white;
    font-size: 35px;
}
.tegi{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  
}


.tegi::after{
    content: " ";
    width: 0%;
    height: 2px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.tegi::after:hover{
    width: 100%;
    
}