
body {
    background-image:url(../img/k.jpg) ;
}
.header-wrapper{
   display: flex;
   height: 50px;
   align-items: center;
   padding: 0px 30px;
   justify-content: space-between;


}
.child{
    display: flex;
    color: white;
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 40PX;
    margin-top: 25px;
}
.child li{
    margin:0px 20px;
    position: relative;
    
    
}
.child li a{
    color: white;
}
.pc{
    color: white;
    font-size: 35px;
}
.tegi{
    color: #fff;  
    padding: 15px 20px;
    position: relative;
  
}


.tegi:after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:all 0.8s linear;
    
}
.tegi:hover:after{
    width: 100%;
}
/* bar meniu */
.toggle-menu{
    
        position: fixed;
        top: 20px;
        right: 20px;
        width: 0px;
        height: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      padding: 2px 2px 2px 3px;
        cursor: pointer;
        
    
}
.line{
    width: 100%;
	height: 3px;
	background-color: #000000;
	transition: transform 0.2s ease-out;
}
.line1{
    transform: scale(0.8) rotate(-45deg) translate(-6px, 4px);
}
.line2{
    display: none;

}
.line3{
    transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}
/* aqamde */
/* home div */
.big{
    display: flex;
    max-width:2000px;
    width: 100%;
    height: 700px;
    background-color: #6D6D6C;
    
}
.small{
    margin: 10px, 20px;
    max-width:250px;
    width: 100%;

}
.small:nth-child(1){
    
    margin:10px 20px;
}
.small:nth-child(2){
    margin: 10px 20px;
}
.small:nth-child(4){
    margin: 10px 20px;
}
.small,p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.picture{
    max-width: 1200px;
    width: 100%;
}