*{
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/k.jpg);
    background-color: rgb(20, 20, 20);
    font-family: sans-serif;
}
.bar{
    display: none;
    size: 50px;
    color: white;
}
.icon{
    display: none;
}
/* .top-nav{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
} */

.header-wrapper{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
}
.child{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: end;
    padding-left: 100px;
}

.child li a{
    color: white;   
}
.pc{
    color: white;
    font-size: 35px;
}
.tegi{
    color: #fff;  
    padding: 5px 10px;
    position: relative;
    margin: 0px 20px;
}

.tegi:after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:all 0.8s linear;
}
.tegi:hover:after{
    width: 100%;
}

.bigHeader{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 45px;
    border: 1px solid #f2f2f2;
}

/* home div */
.big{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:2000px;
    width: 100%;
    height: auto;
    padding: 20px 15px;
    border: 1px solid #f2f2f2;
    flex-wrap: wrap;
}
.text{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}
.small{
    width: 200px;
    height: 340px;
    border: 1px solid #f2f2f2;
    transition: 0.5s;
}

.small:hover{
    transform: scale(1.1);
}

.small,p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.small,h2{
    text-align: center;
}
.picture{
    max-width: 400px;
    width: 100%;
}

.text2{
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: 1px solid #f2f2f2;
} 
.two-box{
    border: 1px solid #f2f2f2;
    height: 370px;
    
} 

.boxSale{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 20px 15px;
    flex-wrap: wrap;
}
/* best seller */
.three-box{
display: flex;
justify-content: space-between;
align-items: center;
max-width:2000px;
width: 100%;
height: auto;
padding: 20px 15px;
border: 1px solid #1b0404;
flex-wrap: wrap;
}
.wrapper{
    width: 200px;
    height: 340px;
    border: 1px solid #f2f2f2;
    transition: 0.5s;
   
}
.wrapper:hover{
    transform: scale(1.1);
}
/* contact */
.left li{
    padding-top: 20px;
}
.contact{
    color: white;
    justify-content: space-between;
    align-items: center;
    max-width:2000px;
    width: 100%;
    height: auto;
    
    border: 1px solid #f2f2f2;
    flex-wrap: wrap;
}
.contact-wrapper{
    color: white;
}
.contacta{
	color: #3D58A6;
	font-size:  40px;
}
.left{
	display: inline-block;
    padding-top:50px ;
}
.right{
	display: inline-block;
	vertical-align: top;
    max-width: 500px;
    width: 100%;
    padding-left: 300px;
    padding-right: 10px;
}


.sectioncolor{
	color: #E6E6E6;
	max-width: 2000px;
    width: 100%;
	height: 570px;
}
.font{
    padding-top: 15px;
}

/* autorization */
.forma{
    border: 1px solid #f2f2f2;
   
}
.forma.text2{
    margin-bottom: 50px;
    
}
.form{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.mainForm{
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.autoritHead{
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    color: white;
}

.formBox{
    border: 1px solid #f2f2f2;
}
.input{
    max-width: 900px;
    width: 100%;
    height: 50px;
    color: #4E0602;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 15px;
    border: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    outline: none;
    background-color: black;
    text-align: center;
}
.label-text{
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 90px;
}
.but-text{
    background-color: blue;
    border: none;
    width: 100px;
    height: 30px;
    margin-left: 80px;
    margin-top: 30px;
}
/* footer */
/* .footer1{
    font-size: 20px;
    color: white;
    display: inline-block;
} */
.main-footer{
    display: flex;
    justify-content: space-between;
}
.footer-icon{
    font-size:30px ;

}
.fa-facebook{
    color: blue;
}
.fa-instagram-square{
    color: rgb(82, 5, 5);
}
.fa-youtube{
    color: red;
}